@{
    ViewBag.Title = "Dinero.dk Værktøj - Find differencen og de manglende bilag i Dinero.dk ved bankafstemning.";
}

<!-- Header -->
<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <img class="img-responsive" style="height: 150px;" src="/img/profile.png" alt="">
                <div class="intro-text">
                    <span class="name">Find differencen</span>
                    <hr class="star-light">
                    <span class="skills">Find de manglende bilag i Dinero.dk ved bankafstemning</span>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container" role="main">

    <div class="row">
        <div class="col-lg-12 text-center">
            <h1>Stemmer banken ikke?</h1>
            <p>Så skal du ind og finde fejlen mellem, hvad der rent faktisk er trukket/indsat i banken, og hvad du har bogført.</p>
            <p>I daglig tale kaldes dette en <em>bankafstemning</em> - i Dinero.dk skal dette desværre <a href="https://dinero.dk/support/bankafstemning-hvordan-afstemmer-jeg-banken/" target="_blank">gøres manuelt</a>.</p>
            <p>Heldigvis for dig, blev jeg træt af det, og lavede dette værktøj som hjælper dig lidt af vejen.</p>
        </div>
    </div>


    <div class="row">
        <div class="col-lg-12 text-center">
            <hr/>

            @using (Html.BeginForm("ShowDifferences", "Home", null, FormMethod.Post, new {enctype = "multipart/form-data"}))
            {
                @Html.AntiForgeryToken()

                <div class="col-md-4">
                    <h2>1. Vælg Dinero fil</h2>
                    <input type="file" class="btn btn-primary" id="DineroFile" name="dineroFile"/>
                    <div class="text-left">
                        <em>Dinero.dk -> Regnskab -> Rapporter -> Saldobalance -> Find "Bank" under "Likvide beholdninger" -> Download kontokort (tryk på det lille posteringer ikon ude til højre)</em>
                        <p>Når du har downloadet filen til din egen computer, vælger du den i fil vælgeren ovenfor.</p>
                    </div>
                </div>

                <div class="col-md-4">
                    <h2>2. Vælg bank fil</h2>
                    <input type="file" class="btn btn-primary" id="BankFile" name="bankFile"/>

                    <div class="text-left">
                        <em>Understøtter CSV filer fra : </em>
                        <ul>
                            <li>Nordea</li>
                            <li>Arbejdernes Landsbank</li>
                            <li>Danske Bank</li>
                            <li>Jyske Bank</li>
                            <li>Saxo Bank</li>
                            <li>Nykredit og Spar Nord</li>
                            <li>Lån & Spar Bank</li>
                            <li>Sydbank</li>
                            <li>Handelsbanken</li>
                        </ul>
                        <p>Denne fil hedder forskelligt og hentes på forskellige måder, alt efter hvilken bank du har. Den fil som skal bruges her er det CSV kontoudtræk man kan hente i de fleste banker.<br/>Vælg samme dato interval som på Dinero filen.</p>
                        <p>Typisk vil det være hele indeværende år.</p>
                    </div>
                </div>

                <div class="col-md-4">
                    <h2>3. Sæt i gang</h2>
                    <input type="submit" value="Find differencen" class="btn btn-primary"/>
                    <div class="text-left">
                        <em>Bemærk: Filerne gemmes ikke på serveren og deles ikke med nogen.</em>
                        <p>Når begge filer er valgt, trykkes der her og de uploades. Værktøjet udfører så revisor magien der skal til for at synliggøre dine differencer, så det bliver nemmere for dig at finde ud af hvad du mangler, eller har for meget i Dinero.dk.</p>
                    </div>
                </div>
            }
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <p>&nbsp;</p>
        </div>
    </div>
</div>


<section class="success" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Hvordan virker det?</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-2">
                <p>Værktøjet fungerer på den måde at hver enkelt postering i hhv. Dinero og bank filen sammenholdes. Værktøjet forsøger så at udregne hvilke posteringer der matcher, og dem der ikke gør, angiver dem som differencer.</p>
            </div>
            <div class="col-lg-4">
                <p>Så er det op til dig at vurderer hvilke reelt er differencer og skaber problemer for din afstemning.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <hr/>
                <p>Værktøjet arbejder udelukkende ud fra de to filer du angiver. Der er altså ingen integration til din Dinero.dk konto. Intet ændres og intet læses derfra.</p>
                <p>Hverken Dinero eller bank filen gemmes på serveren, og vises kun for dig.</p>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Seneste ændringer</h2>
                <hr class="star-primary">
            </div>
        </div>
        
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <hr />
                <small>10-10-2018</small>
                <p>
                    Tilføjet info i toppen af siden omkring at "Bankafstemning" nu er en del af Dinero selv - Juhu! 
                </p>
                <p>
                    Ser virkelig frem til at bruge det :)
                </p>
                
                <a href="https://dinero.dk/blog/information/bankafstemning/">Læs mere om "Bankafstemning" i Dinero her</a>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <hr />
                <small>05-02-2018</small>
                <p>
                    Tilføjet understøttelse for CSV filer fra <strong>Handelsbanken</strong>.
                </p>
                <p>
                    Denne ændre kan vi takket <a href="https://github.com/Laumania/Dinero.Tools/pull/23">Lars</a> for - mange tak for et godt Pull Request på Github :)
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <hr />
                <small>11-01-2018</small>
                <p>
                    Uden at have ændret på koden er det blevet konstateret at toolet her også virker med Sydbank filer - så det er tilføjet til listen over understøttede banker.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <hr />
                <small>11-09-2017</small>
                <p>
                    Ændret måden filerne læses ind på, hvilket gerne skulle gøre at det virker i flere scenarier.
                </p>
                <p>
                    Yderligere er der ændret på måden fejl-siden fungerer på, så der nu vises mere info, så der er lidt mere data at gå ud fra når en fejl sker.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <hr />
                <small>29-08-2017</small>
                <p>
                    Rettet i koden der indlæser Dinero filen, da der for nogle er tomme linier i denne.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <hr/>
                <small>21-04-2017</small>
                <p>
                    Rettet beskrivelse af hvordan man downloader "Posterings" filen fra Dinero, da de har ændret på dette.
                </p>
                <p>Ydermere er der blevet opdateret lidt tekster på forsiden, så det forhåbentlig er lidt lettere at forstå.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <hr/>
                <small>01-01-2017</small>
                <p>
                    Mindre ændring på fejl siden, sådan at alt relevant information står i den grå boks.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <hr/>
                <small>19-09-2016</small>
                <p>
                    Tilføjet understøttelse af CSV filer fra <strong>Spar Nord</strong>.
                </p>
            </div>
        </div>


        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <hr/>
                <small>24-06-2016</small>
                <p>
                    I dag er der blevet tilføjet en række små ting til forsiden.
                    <ul>
                        <li>Tilføjet "cookie warning", påkrævet af EU *facepalm*.</li>
                        <li>Tilføjet "popup" omkring tilmelding til nyhedsbrevet. Dette er noget jeg gør for at have en mulighed for at skrive ud til jer der synes dette værktøj ser interessant ud, når der er nye og spændende ting.</li>
                        <li>Tilføjet denne "seneste ændringer" sektion, så du kan se hvad der er sket siden sidst.</li>
                    </ul>
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <hr/>
                <small>23-06-2016</small>
                <p>Når værktøjet skal forsøge at finde en bank postering, som matcher en Dinero postering, så bruges datoen nu for at finde bedste match. Den finder simpelthen den postering, som dato mæssigt ligger tættest på, da jeg antager at det vil være den rigtige i de fleste tilfælde.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <hr/>
                <small>17-06-2016</small>
                <p>Efter længere tid uden opdateringer, har jeg nu endelig fået implementeret en bedre fejlside. Dette gør at når en fejl sker, og det gør det tit fordi værktøjet her er under udvikling, ja så vises der flere info som kan bruges til at fixe fejlen på sigt.</p>
            </div>
        </div>
    </div>
</section>


