@{
//ViewBag.Title = "title";
}

<!-- Header -->
<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <img class="img-responsive" src="/img/profile.png" alt="">
                <div class="intro-text">
                    <span class="name">Find differencen</span>
                    <hr class="star-light">
                    <span class="skills">Find de manglende bilag i Dinero.dk ved bankafstemning</span>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container" role="main">

    <div class="row">
        <div class="col-lg-12 text-center">
            <h1>Stemmer banken ikke?</h1>
            <p>Så skal du ind og finde fejlen mellem, hvad der rent faktisk er trukket/indsat i banken, og hvad du har bogført.</p>
            <p>I daglig tale kaldes dette en <em>bankafstemning</em> - i Dinero.dk skal dette desværre <a href="https://dinero.dk/support/bankafstemning-hvordan-afstemmer-jeg-banken/" target="_blank">gøres manuelt</a>.</p>
            <p>Heldigvis for dig, blev jeg træt af det, og lavede dette værktøj som hjælper dig lidt af vejen.</p>
        </div>
    </div>


    <div class="row">
        <div class="col-lg-12 text-center">
            <hr/>

            @using (Html.BeginForm("ShowDifferences", "Home", null, FormMethod.Post, new {enctype = "multipart/form-data"}))
            {
                @Html.AntiForgeryToken()

                <div class="col-md-4">
                    <h2>1. Vælg Dinero fil</h2>
                    <input type="file" class="btn btn-primary" id="DineroFile" name="dineroFile"/>
                    <div class="text-left">
                        <em>Dinero.dk -> Regnskab -> Kontoplan -> Bank (55000) -> Posteringer -> Download kontokort</em>
                        <p>Når du har downloadet filen til din egen computer, vælger du den i fil vælgeren ovenfor.</p>
                    </div>
                </div>

                <div class="col-md-4">
                    <h2>2. Vælg bank fil</h2>
                    <input type="file" class="btn btn-primary" id="BankFile" name="bankFile" />
                    
                    <div class="text-left">
                        <em>Understøtter CSV filer fra Nordea, Arbejdernes Landsbank, Danske Bank, Jyske Bank, Saxo Bank og Nykredit.</em>
                        <p>Denne fil hedder forskelligt og hentes på forskellige måder, alt efter hvilken bank du har. Den fil som skal bruges her er det CSV kontoudtræk man kan hente i de fleste banker.<br />Vælg samme dato interval som på Dinero filen. Typisk vil det være hele indeværende år.</p>
                    </div>
                </div>

                <div class="col-md-4">
                    <h2>3. Revisor tryl!</h2>
                    <input type="submit" value="Start!" class="btn btn-primary"/>
                    <div class="text-left">
                        <em>Bemærk: Filerne gemmes ikke på serveren og deles ikke med nogen.</em>
                        <p>Når begge filer er valgt, trykkes der her og de uploades. Værktøjet udfører så revisor magien der skal til for at synliggøre dine differencer, så det bliver nemmere for dig at finde ud af hvad du mangler, eller har for meget i Dinero.dk.</p>
                    </div>
                </div>
            }
        </div>
    </div>


    <div class="row">
        <div class="col-md-12">
            <p>&nbsp;</p>
        </div>
    </div>
</div>


<section class="success" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Hvordan virker det?</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-2">
                <p>Værktøjet fungerer på den måde at hver enkelt postering i hhv. Dinero og bank filen sammenholdes. Værktøjet forsøger så at udregne hvilke posteringer der matcher, og dem der ikke gør, angiver dem som differencer.</p>
            </div>
            <div class="col-lg-4">
                <p>Så er det op til dig at vurderer hvilke reelt er differencer og skaber problemer for din afstemning.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <hr />
                <p>Værktøjet arbejder udelukkende ud fra de to filer du angiver. Der er altså ingen integration til din Dinero.dk konto. Intet ændres og intet læses derfra.</p>
                <p>Hverken Dinero eller bank filen gemmes på serveren, og vises kun for dig.</p>
            </div>
        </div>
    </div>
</section>
