nav.navbar.navbar-default {
    margin-bottom: 0px;
    border-radius: 0px;
}

@media (min-width:768px) {
    .navbar 
    {
        border-radius: 0px;
    }
    header .container 
    {
        padding-top: 20px;
        padding-bottom: 20px;   
    }
}