nav.navbar.navbar-default {
    margin-bottom: 0px;
    border-radius: 0px;
}

@media (min-width:768px) {
    .navbar 
    {
        border-radius: 0px;
    }
    header .container 
    {
        padding-top: 20px;
        padding-bottom: 20px;   
    }
}

.table > tbody > tr.future {
    background-color: #CBCBCB;
}

.table > tbody > tr.unbalanced {
    background-color: #e74c3c;
    color: white;
}

.table > tbody > tr.selfcancelling {
    background-color: #f9f9f9;
    color: #9a9a9a;
}
